@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,500,700&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.top-menu__user::after, .top-menu__user::before, .checkbox__input:checked + .checkbox__label:before, [class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-checkbox:before {
  content: "\e906";
  color: #fff;
}

._icon-phone:before {
  content: "\e900";
  color: #f8683a;
}

._icon-mail:before {
  content: "\e901";
  color: #f8683a;
}

._icon-location:before {
  content: "\e902";
  color: #f8683a;
}

._icon-inner .path1:before {
  content: "\e903";
  color: #25debe;
  opacity: 0.2;
}

._icon-inner .path2:before {
  content: "\e904";
  margin-left: -1.0478515625em;
  color: #f8683a;
}

._icon-check-decagram:before {
  content: "\e905";
  color: #25debe;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 290px;
}

body {
  color: #444444;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.875rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.875rem;
}

.button {
  position: relative;
  display: inline-flex;
  font-weight: normal;
  text-align: center;
  font-size: 1rem;
  line-height: 1.1875;
  color: #FFFFFF;
  padding: 15px 40px;
  background: linear-gradient(180deg, #F8683A 0%, #E8582A 100%);
  border-radius: 50px;
  max-width: 10.0625rem;
}
.button::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 2.48px;
  left: 0;
  background: #CF4A20;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
.button._fw {
  width: 100%;
}

.button_two {
  position: relative;
  display: inline-block;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.1666666667;
  max-width: 17.75rem;
  color: #FFFFFF;
  background: linear-gradient(180deg, #FD711C 0%, #FD711C 0.01%, #E8582A 100%);
  border-radius: 50px;
  min-height: 3.625rem;
  padding: 0.9375rem 2.5rem;
}
.button_two::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 4px;
  left: 0;
  background: #CF4A20;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
@media (max-width: 79.9375em) {
  .button_two::before {
    top: 2.5px;
  }
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}
.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input:checked + .checkbox__label:before {
  background-color: #178D7D;
  content: "\e906";
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.625rem;
}
.checkbox__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  gap: 10px;
}
.checkbox__label:before {
  content: "";
  align-self: flex-start;
  flex: 0 0 15px;
  width: 15px;
  height: 15px;
  border: 1px solid #178D7D;
  border-radius: 2px;
}
.checkbox__text {
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.1666666667;
  color: #666666;
  max-width: 23.1875rem;
}
.checkbox__star {
  color: red;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.options__item {
  position: relative;
  cursor: pointer;
}
.options__item:not(:last-child) {
  margin-bottom: 0.3125em;
}
.options__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
.options__input:focus + .options__label:before {
  box-shadow: 0 0 5px #000;
}
.options__input:checked + .options__label:after {
  transform: scale(1);
}
.options__label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.options__label:before {
  content: "";
  align-self: flex-start;
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  border-radius: 50%;
  border: 1px solid #a7a9ac;
}
.options__label:after {
  content: "";
  transition: all 0.3s ease 0s;
  transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 5px;
}
body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: relative;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}
.popup__close {
  position: absolute;
  top: -38px;
  right: 0;
  background: url("../img/popup/Close.svg") center no-repeat;
  width: 1.6875rem;
  height: 1.6875rem;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background: #FFFFFF;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1.5625rem 1.5rem 2.4375rem;
}
.lock .popup__content {
  visibility: visible;
}

.popup__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup__title {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.2727272727;
  color: #444444;
  margin-bottom: 0.4090909091em;
}
.popup__subtitle {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: #666666;
  max-width: 22.8125rem;
  margin-bottom: 1.625em;
}
.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}
.popup__input {
  width: 100%;
  background: #EDF5F4;
  border: 1px solid #178D7D;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.75;
  color: #178D7D;
  padding: 0.6875rem 1.25rem;
}
.popup__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.popup__input::after {
  color: red;
  content: " *";
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.3;
  color: #444444;
}
@media (max-width: 79.9375em) {
  .title {
    font-size: 2rem;
    line-height: 42px;
  }
}
@media (max-width: 47.9375em) {
  .title {
    font-size: 1.75rem;
  }
}

.subtitle {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5555555556;
  color: #666666;
}

.header {
  position: relative;
}
.logo-block {
  min-height: 5.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
@media (max-width: 63.9375em) {
  .logo-block {
    min-height: 7.8125rem;
  }
}
@media (max-width: 47.9375em) {
  .logo-block {
    flex-direction: column;
    min-height: 17.3125rem;
    padding: 1.1875rem 0 1.6875rem;
  }
}
.logo-block__logo-info {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
@media (max-width: 63.9375em) {
  .logo-block__logo-info {
    flex-direction: column;
    gap: 0.9375rem;
  }
}
@media (max-width: 47.9375em) {
  .logo-block__logo-info {
    gap: 0.375rem;
  }
}
.logo-block__text {
  max-width: 9.5625rem;
  position: relative;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  color: #666666;
  padding-left: 2.875rem;
}
.logo-block__text::before {
  content: "";
  position: absolute;
  width: 1.625rem;
  height: 0.125rem;
  top: calc(50% - 1px);
  left: 0;
  background-color: #C4C4C4;
}
.logo-block__connection {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
@media (max-width: 63.9375em) {
  .logo-block__connection {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.9375rem;
    row-gap: 1.3125rem;
  }
}
@media (max-width: 47.9375em) {
  .logo-block__connection {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
  }
}
.logo-block__whatsup {
  display: flex;
  align-items: center;
  gap: 0.6875rem;
  margin-right: 2.3125rem;
}
@media (max-width: 80em) {
  @supports (margin-right: clamp( 0.6875rem , -5.8125rem  +  10.15625vw , 2.3125rem )) {
    .logo-block__whatsup {
      margin-right: clamp( 0.6875rem , -5.8125rem  +  10.15625vw , 2.3125rem );
    }
  }
  @supports not (margin-right: clamp( 0.6875rem , -5.8125rem  +  10.15625vw , 2.3125rem )) {
    .logo-block__whatsup {
      margin-right: calc(0.6875rem + 1.625 * (100vw - 64rem) / 16);
    }
  }
}
@media (max-width: 63.9375em) {
  .logo-block__whatsup {
    grid-row: 2;
    grid-column: 2;
    margin-right: 0rem;
  }
}
.logo-block__whatsup-text {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875;
  color: #666666;
}
.logo-block__call {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875;
  color: #178D7D;
  min-height: 2.5rem;
  border: 1px solid #178D7D;
  border-radius: 3.125rem;
  padding: 0rem 1.25rem;
  margin-right: 1.6875rem;
}
@media (max-width: 80em) {
  @supports (margin-right: clamp( 0.625rem , -3.625rem  +  6.640625vw , 1.6875rem )) {
    .logo-block__call {
      margin-right: clamp( 0.625rem , -3.625rem  +  6.640625vw , 1.6875rem );
    }
  }
  @supports not (margin-right: clamp( 0.625rem , -3.625rem  +  6.640625vw , 1.6875rem )) {
    .logo-block__call {
      margin-right: calc(0.625rem + 1.0625 * (100vw - 64rem) / 16);
    }
  }
}
@media (max-width: 63.9375em) {
  .logo-block__call {
    grid-row: 1;
    grid-column: 1;
    margin-right: 0;
  }
}
@media (max-width: 47.9375em) {
  .logo-block__call {
    max-width: 10.5625rem;
  }
}
@media (max-width: 63.9375em) {
  .logo-block__phone {
    grid-row: 1;
    grid-column: 2;
  }
}
.logo-block__phone-text {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  color: #959595;
  text-align: right;
}
@media (max-width: 47.9375em) {
  .logo-block__phone-text {
    display: none;
  }
}
.logo-block__phone-number {
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.15;
  color: #333333;
  display: flex;
  justify-content: right;
}
@media (max-width: 47.9375em) {
  .logo-block__phone-number {
    justify-content: center;
  }
}

.top-menu {
  display: flex;
  min-height: 3.125rem;
  align-items: center;
}
@media (max-width: 47.9375em) {
  .top-menu {
    justify-content: center;
  }
}
.top-menu::before {
  content: "";
  position: absolute;
  z-index: 0;
  border-top: 1px solid #25DEBE;
  width: 100vw;
  height: 0.0625rem;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
}
.top-menu::after {
  content: "";
  position: absolute;
  z-index: 0;
  border-top: 1px solid #25DEBE;
  width: 100vw;
  height: 0.0625rem;
  left: 0;
  top: 82px;
  box-sizing: border-box;
}
@media (max-width: 63.9375em) {
  .top-menu::after {
    top: 125px;
  }
}
@media (max-width: 47.9375em) {
  .top-menu::after {
    top: 280px;
  }
}
.top-menu__close {
  display: none;
}
@media (max-width: 47.9375em) {
  .top-menu__close {
    display: block;
    position: absolute;
    top: -38px;
    right: 0;
    background: url("../img/popup/Close.svg") center no-repeat;
    width: 1.6875rem;
    height: 1.6875rem;
  }
}
.top-menu__menu {
  position: relative;
  flex: 1 1 auto;
}
@media (max-width: 47.9375em) {
  .top-menu__menu {
    position: absolute;
    z-index: 6;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    transition: right 0.3s ease 0s;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.top-menu__menu._active {
  right: 0;
}
.top-menu__list {
  display: flex;
  position: relative;
  z-index: 10;
}
@media (max-width: 47.9375em) {
  .top-menu__list {
    width: 87.5%;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    padding: 0.9375rem 0 1.8125rem;
  }
}
.top-menu__item {
  margin-left: 3.125rem;
}
.top-menu__item:first-of-type {
  margin-left: 2.5rem;
}
@media (max-width: 63.9375em) {
  .top-menu__item:first-of-type {
    margin-left: 1.875rem;
  }
}
@media (max-width: 47.9375em) {
  .top-menu__item:first-of-type {
    margin-left: 0rem;
  }
}
@media (max-width: 63.9375em) {
  .top-menu__item {
    margin-left: 1.875rem;
  }
}
@media (max-width: 47.9375em) {
  .top-menu__item {
    margin-left: 0rem;
  }
}
@media (max-width: 47.9375em) {
  .top-menu__item {
    margin-bottom: 1rem;
  }
}
.top-menu__title {
  display: none;
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.2727272727;
  color: #444444;
  margin-bottom: 0.8125rem;
}
@media (max-width: 47.9375em) {
  .top-menu__title {
    display: block;
  }
}
.top-menu__link {
  position: relative;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875;
  color: #444444;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .top-menu__link:hover {
    color: #ef6032;
  }
}
@media (max-width: 47.9375em) {
  .top-menu__link {
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.1666666667;
    color: #444444;
  }
}
.top-menu__user {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 47.9375em) {
  .top-menu__user {
    transform: translateX(-3px);
  }
}
.top-menu__user::before {
  content: "\e903";
  color: rgba(37, 222, 190, 0.2);
  font-size: 1.25rem;
}
.top-menu__user::after {
  content: "\e904";
  position: absolute;
  font-size: 1rem;
  left: 3.5px;
  color: #f8683a;
}
.top-menu__user span {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875;
  color: #666666;
  padding-left: 0.46875rem;
}
@media (max-width: 47.9375em) {
  .top-menu__user span {
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.1666666667;
    padding-left: 0.53125rem;
    color: #444444;
  }
}

.icon-menu {
  display: block;
  position: relative;
  width: 1.4375rem;
  height: 1.125rem;
  cursor: pointer;
  z-index: 5;
}
.icon-menu span, .icon-menu::before, .icon-menu::after {
  content: "";
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #25DEBE;
}
.icon-menu::before {
  top: 0;
}
.icon-menu::after {
  bottom: 0;
  background-color: #F8683A;
}
.icon-menu span {
  top: calc(50% - 0.0625rem);
  background: linear-gradient(90deg, #25DEBE 0%, #F8683A 106.52%);
}
.menu-open .icon-menu span {
  width: 0;
}
.menu-open .icon-menu::before, .menu-open .icon-menu::after {
  background-color: black;
}
.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  transform: rotate(-45deg);
}
.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  transform: rotate(45deg);
}

.menu-footer {
  border-top: 1px solid #26D8C0;
  border-bottom: 1px solid #26D8C0;
}
.menu-footer__container {
  padding: 0 1.875rem;
  min-height: 4.5625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 80em) {
  .menu-footer__container {
    padding: 0;
  }
}
@media (max-width: 47.9375em) {
  .menu-footer__container {
    justify-content: center;
  }
}
@media (max-width: 47.9375em) {
  .menu-footer__menu {
    display: none;
  }
}
.menu-footer__list {
  display: flex;
  gap: 3.125rem;
}
@supports (gap: clamp( 1.25rem , -4.3970588235rem  +  11.7647058824vw , 3.125rem )) {
  .menu-footer__list {
    gap: clamp( 1.25rem , -4.3970588235rem  +  11.7647058824vw , 3.125rem );
  }
}
@supports not (gap: clamp( 1.25rem , -4.3970588235rem  +  11.7647058824vw , 3.125rem )) {
  .menu-footer__list {
    gap: calc(1.25rem + 1.875 * (100vw - 48rem) / 15.9375);
  }
}
.menu-footer__link {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875;
  color: #444444;
  transition: color 0.3s ease 0s;
  cursor: pointer;
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    color: #ef6032;
  }
}

@media (max-width: 79.9375em) {
  .logo-block__text_pos_footer {
    display: none;
  }
}

.confidence__container {
  padding: 1.125rem 0 2rem;
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  color: #959595;
  align-items: center;
}
@media (max-width: 79.9375em) {
  .confidence__container {
    padding: 1.125rem 1.875rem 2rem;
  }
}
@media (max-width: 47.9375em) {
  .confidence__container {
    padding: 1.125rem 1.875rem 2.875rem;
    flex-direction: column;
    justify-content: center;
  }
}
.confidence__copyright {
  max-width: 23rem;
}
@media (max-width: 47.9375em) {
  .confidence__copyright {
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media (max-width: 47.9375em) {
  .confidence__political {
    text-align: center;
  }
}
@media (any-hover: hover) {
  .confidence__political:hover {
    text-decoration: underline;
  }
}

.main-block {
  background: linear-gradient(180deg, #1EC1AB 0%, #26D8C0 100%);
  position: relative;
  z-index: 1;
  padding-bottom: 12.9375rem;
}
@media (max-width: 79.9375em) {
  .main-block {
    padding-bottom: 13.6875rem;
  }
}
@media (max-width: 63.9375em) {
  .main-block {
    padding-bottom: 26.75rem;
  }
}
@media (max-width: 47.9375em) {
  .main-block {
    padding-bottom: 46.375rem;
  }
}
.main-block__back-bottom {
  position: absolute;
  width: 100%;
  height: 10.75rem;
  bottom: -103px;
  left: 0;
  background: rgba(105, 232, 210, 0.7);
  z-index: -1;
}
@media (max-width: 79.9375em) {
  .main-block__back-bottom {
    bottom: -85px;
  }
}
@media (max-width: 47.9375em) {
  .main-block__back-bottom {
    height: 15.125rem;
    bottom: -156px;
  }
}
.main-block__container {
  position: relative;
}
@media (max-width: 21.875em) {
  .main-block__container {
    padding: 0;
  }
}
.main-block__content {
  padding-top: 5.3125rem;
  position: relative;
}
.main-block__body {
  padding-left: 0.6875rem;
}
@media (max-width: 63.9375em) {
  .main-block__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0rem;
  }
}
.main-block__title {
  position: relative;
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.25;
  color: white;
  max-width: 39.4375rem;
}
.main-block__title span {
  color: #26D8C0;
}
.main-block__title::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 38.75rem;
  height: 3.4375rem;
  top: 4px;
  left: -10px;
  background-color: white;
  border-radius: 0.625rem;
}
@media (max-width: 79.9375em) {
  .main-block__title::before {
    width: 30.8125rem;
    height: 3.125rem;
    top: 2px;
  }
}
@media (max-width: 63.9375em) {
  .main-block__title::before {
    left: 5px;
  }
}
@media (max-width: 47.9375em) {
  .main-block__title::before {
    width: 10.6875rem;
    height: 2.4375rem;
    top: 2px;
    left: calc(50% - 85px);
  }
}
.main-block__title::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 16.4375rem;
  height: 2.4375rem;
  top: 46px;
  left: calc(50% - 131.5px);
  background-color: white;
  border-radius: 0.625rem;
  display: none;
}
@media (max-width: 47.9375em) {
  .main-block__title::after {
    display: block;
  }
}
@media (max-width: 79.9375em) {
  .main-block__title {
    font-size: 2.375rem;
    line-height: 1.3684210526;
    max-width: 31.3125rem;
  }
}
@media (max-width: 63.9375em) {
  .main-block__title {
    text-align: center;
  }
}
@media (max-width: 47.9375em) {
  .main-block__title {
    font-size: 2rem;
    max-width: 17.5rem;
  }
}
.main-block__subtitle {
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 1.1818181818;
  color: #FFFFFF;
  max-width: 31.125rem;
  margin-top: 0.9545454545em;
  margin-bottom: 1.7272727273em;
}
@media (max-width: 79.9375em) {
  .main-block__subtitle {
    font-size: 1.25rem;
    line-height: 1.4;
    max-width: 26.25rem;
    margin-top: 0.95em;
    margin-bottom: 1.5em;
  }
}
@media (max-width: 63.9375em) {
  .main-block__subtitle {
    text-align: center;
  }
}
@media (max-width: 47.9375em) {
  .main-block__subtitle {
    margin-top: 1.5em;
    max-width: 16.25rem;
  }
}
.main-block__button {
  position: relative;
  display: inline-block;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.1666666667;
  max-width: 17.75rem;
  position: relative;
  color: #FFFFFF;
  background: linear-gradient(180deg, #FD711C 0%, #FD711C 0.01%, #E8582A 100%);
  border-radius: 50px;
  min-height: 3.625rem;
  padding: 0.9375rem 2.5rem;
}
.main-block__button::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 4px;
  left: 0;
  background: #CF4A20;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
@media (max-width: 79.9375em) {
  .main-block__button::after {
    top: 2.5px;
  }
}
@media (max-width: 79.9375em) {
  .main-block__button {
    font-size: 1.25rem;
    line-height: 1.15;
    min-height: 3.3125rem;
  }
}
.main-block__illustartion {
  position: absolute;
  right: -145px;
  top: 0;
}
@media (max-width: 79.9375em) {
  .main-block__illustartion {
    position: absolute;
    width: 659px;
    right: -130px;
    top: 43px;
  }
}
@media (max-width: 63.9375em) {
  .main-block__illustartion {
    display: none;
  }
}
.main-block__illustartion img {
  width: 100%;
}
.main-block__line {
  position: absolute;
  top: 398px;
  left: 342.5px;
}
@media (max-width: 79.9375em) {
  .main-block__line {
    display: none;
  }
}
@media (max-width: 63.9375em) {
  .main-block__advantages {
    margin-top: 5.1875rem;
  }
}
@media (max-width: 47.9375em) {
  .main-block__advantages {
    margin-top: 4.75rem;
  }
}

.advantages {
  margin-top: -7.625rem;
  position: relative;
  z-index: 2;
}
@media (max-width: 63.9375em) {
  .advantages {
    margin-top: -21.3125rem;
  }
}
@media (max-width: 47.9375em) {
  .advantages {
    margin-top: -43.5rem;
  }
}
.advantages__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 63.9375em) {
  .advantages__list {
    margin: -20px -20px 0 0;
    justify-content: center;
  }
}
@media (max-width: 47.9375em) {
  .advantages__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -20px 0 0 0;
  }
}
.advantages__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17.5rem;
  height: 10.8125rem;
}
@media (max-width: 79.9375em) {
  .advantages__item {
    width: 13.75rem;
  }
}
@media (max-width: 63.9375em) {
  .advantages__item {
    width: 21.25rem;
    margin-bottom: 1.25rem;
    margin-right: 1.25rem;
  }
}
@media (max-width: 47.9375em) {
  .advantages__item {
    width: 18.75rem;
    margin-bottom: 1.25rem;
    margin-right: 0rem;
  }
}
.advantages__shadow {
  position: absolute;
  width: 100%;
  height: 90%;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
}
.advantages__img-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.advantages__background-image-ibg_contain {
  padding-bottom: 61.7857142857%;
}
@media (max-width: 79.9375em) {
  .advantages__background-image-ibg_contain {
    display: none;
  }
}
.advantages__background-image2-ibg_contain {
  display: none;
  padding-bottom: 78.6363636364%;
}
@media (max-width: 79.9375em) {
  .advantages__background-image2-ibg_contain {
    display: block;
  }
}
@media (max-width: 63.9375em) {
  .advantages__background-image2-ibg_contain {
    display: none;
  }
}
.advantages__background-image3-ibg_contain {
  display: none;
  padding-bottom: 50.8823529412%;
}
@media (max-width: 63.9375em) {
  .advantages__background-image3-ibg_contain {
    display: block;
  }
}
@media (max-width: 47.9375em) {
  .advantages__background-image3-ibg_contain {
    display: none;
  }
}
.advantages__background-image4-ibg_contain {
  display: none;
  padding-bottom: 57.6666666667%;
}
@media (max-width: 47.9375em) {
  .advantages__background-image4-ibg_contain {
    display: block;
  }
}
.advantages__title {
  position: relative;
  z-index: 2;
  display: flex;
  font-family: "Roboto Condense" d;
  font-weight: bold;
  font-size: 3.875rem;
  line-height: 1.1774193548;
  text-align: center;
  color: #26D8C0;
  background-color: white;
  padding: 0 1.875rem;
  border-radius: 50px;
  margin-bottom: 0.1290322581em;
  margin-top: 0.3387096774em;
}
@media (max-width: 79.9375em) {
  .advantages__title {
    font-size: 3.25rem;
    line-height: 1.1730769231;
    margin-top: 0.5769230769em;
    margin-bottom: 0.2115384615em;
  }
}
.advantages__subtitle {
  position: relative;
  z-index: 2;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.1818181818;
  text-align: center;
  color: #FFFFFF;
  max-width: 14.1875rem;
}

@media (max-width: 21.875em) {
  .video-block__container {
    padding: 0;
  }
}
.video-block__content {
  margin-top: 16.125rem;
  display: grid;
  grid-template-columns: auto 42.3%;
  align-items: center;
  gap: 1.25rem;
}
@media (max-width: 79.9375em) {
  .video-block__content {
    margin-top: 9.25rem;
  }
}
@media (max-width: 47.9375em) {
  .video-block__content {
    margin-top: 11.25rem;
  }
}
@media (max-width: 63.9375em) {
  .video-block__content {
    display: flex;
    flex-direction: column;
  }
}
.video-block__title {
  position: relative;
  max-width: 33.5625rem;
  margin-bottom: 0.7em;
}
.video-block__title::before {
  content: "";
  position: absolute;
  width: 85.2886405959%;
  height: 0.25rem;
  bottom: -7px;
  left: 0;
  background-color: #26D8C0;
}
@media (max-width: 79.9375em) {
  .video-block__title::before {
    bottom: -20px;
  }
}
@media (max-width: 63.9375em) {
  .video-block__title::before {
    bottom: -20px;
    width: 100%;
  }
}
@media (max-width: 21.875em) {
  .video-block__title::before {
    width: 85.7142857143%;
    left: 7.1428571429%;
  }
}
@media (max-width: 79.9375em) {
  .video-block__title {
    margin-bottom: 1.1875em;
  }
}
@media (max-width: 63.9375em) {
  .video-block__title {
    text-align: center;
    max-width: 28rem;
  }
}
.video-block__subtitle {
  max-width: 31.375rem;
}
@media (max-width: 63.9375em) {
  .video-block__subtitle {
    text-align: center;
    max-width: 28rem;
    margin-bottom: 2.1666666667em;
  }
}
.video-block__video {
  padding-bottom: 53.8%;
  display: flex;
  position: relative;
  border: 10px solid #26D8C0;
  border-radius: 0.625rem;
}
.video-block__video iframe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 63.9375em) {
  .video-block__video {
    min-width: 18.75rem;
    min-height: 10.625rem;
    width: 48.046875%;
    padding-bottom: 25%;
  }
}

.our-services {
  margin-top: 14.6875rem;
}
@media (max-width: 79.9375em) {
  .our-services {
    margin-top: 9.375rem;
  }
}
@media (max-width: 47.9375em) {
  .our-services {
    margin-top: 7rem;
    margin-bottom: 4.75rem;
  }
}
.our-services__container {
  position: relative;
  padding: 0;
}
@media (max-width: 79.9375em) {
  .our-services__container {
    padding: 0 1.875rem;
  }
}
@media (max-width: 47.9375em) {
  .our-services__container {
    padding: 0 0.5rem;
  }
}
.banner-services {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 100%;
  padding: 3.0625rem 1.875rem 7.0625rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 79.9375em) {
  .banner-services {
    padding-bottom: 6.25rem;
  }
}
@media (max-width: 47.9375em) {
  .banner-services {
    padding: 3.0625rem 0.625rem;
  }
}
.banner-services__background-square {
  position: absolute;
  width: 31.25rem;
  background: rgba(38, 216, 192, 0.5);
  border-radius: 5px;
  height: 20.6875rem;
  z-index: -10;
  top: -41px;
  left: -39px;
}
@media (max-width: 47.9375em) {
  .banner-services__background-square {
    display: none;
  }
}
.banner-services__info {
  display: grid;
  grid-template-columns: minmax(359px, 421px) minmax(483px, 698px);
  gap: 0.25rem;
  align-items: flex-end;
  overflow: hidden;
}
@media (max-width: 47.9375em) {
  .banner-services__info {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 47.9375em) {
  .banner-services__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.banner-services__title {
  max-width: 21.25rem;
  margin-bottom: 0.525em;
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.175;
  color: #444444;
}
@media (max-width: 79.9375em) {
  .banner-services__title {
    font-size: 2.125rem;
    line-height: 1.1764705882;
  }
}
@media (max-width: 47.9375em) {
  .banner-services__title {
    text-align: center;
    font-size: 1.75rem;
    line-height: 1.3571428571;
  }
}
.banner-services__subtitle {
  max-width: 26.3125rem;
}
@media (max-width: 47.9375em) {
  .banner-services__subtitle {
    text-align: center;
  }
}
.banner-services__illustration-ibg {
  padding-bottom: 28.3667621777%;
}
@media (max-width: 47.9375em) {
  .banner-services__illustration-ibg {
    display: none;
  }
}
.banner-services__list {
  margin-top: 5.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  column-gap: 4.0625rem;
  row-gap: 3.125rem;
}
@media (max-width: 79.9375em) {
  .banner-services__list {
    row-gap: 2.5rem;
  }
}
@media (max-width: 63.8125em) {
  .banner-services__list {
    grid-template-columns: repeat(auto-fill, minmax(277px, 1fr));
    column-gap: 3.125rem;
  }
}
@media (max-width: 47.9375em) {
  .banner-services__list {
    margin-top: 2.875rem;
  }
}
.banner-services__item {
  padding-left: 2.125rem;
}
@media (min-width: 80em) {
  .banner-services__item_grid_fore {
    grid-row: 4;
    grid-column: 1/3;
  }
}
@media (min-width: 80em) {
  .banner-services__item_grid_three {
    grid-column: 1/3;
  }
}
.banner-services__item-title {
  position: relative;
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.1666666667;
  color: #444444;
  margin-bottom: 0.5416666667em;
}
@media (max-width: 79.9375em) {
  .banner-services__item-title {
    font-size: 1.5rem;
    line-height: 1.1666666667;
  }
}
@media (max-width: 47.9375em) {
  .banner-services__item-title {
    font-size: 22px;
    line-height: 28px;
  }
}
.banner-services__item-title::before {
  position: absolute;
  left: -2.125rem;
  top: 0.125rem;
}
.banner-services__item-subtitle {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  color: #666666;
}
@media (min-width: 79.9375em) {
  .banner-services__item-subtitle {
    max-width: 31.25rem;
  }
}
.banner-services__container-visit-card {
  margin-top: 5.8125rem;
}
@media (min-width: 80em) {
  .banner-services__container-visit-card {
    margin-top: 5.5625rem;
    position: absolute;
    padding: 0;
    bottom: 4.625rem;
    right: 2.5625rem;
  }
}
@media (max-width: 63.9375em) {
  .banner-services__container-visit-card {
    margin-top: 3.125rem;
  }
}
@media (max-width: 47.9375em) {
  .banner-services__container-visit-card {
    margin-top: 1.5625rem;
    width: 98.5%;
    padding: 0;
    display: flex;
    justify-content: center;
  }
}

.visit-card {
  position: relative;
  z-index: 2;
  background: #26D8C0;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
  width: 34.25rem;
  height: 17.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 34.25em) {
  .visit-card {
    width: 100%;
    justify-content: flex-start;
    padding: 3.3125rem 0.9375rem;
  }
}
.visit-card__arrow {
  position: absolute;
  top: 68px;
  right: 84px;
}
@media (max-width: 47.9375em) {
  .visit-card__arrow {
    display: none;
  }
}
.visit-card__title {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 2rem;
  line-height: 0.75;
  color: #FFFFFF;
  margin-bottom: 0.71875em;
}
@media (max-width: 47.9375em) {
  .visit-card__title {
    font-size: 1.75rem;
    line-height: 0.8571428571;
    text-align: center;
  }
}
.visit-card__subtitle {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 1.2777777778em;
  max-width: 19.125rem;
}
.visit-card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 79.9375em) {
  .visit-card__button {
    font-size: 1.25rem;
    line-height: 1.15;
    text-align: center;
  }
}
@media (max-width: 47.9375em) {
  .visit-card__button {
    font-size: 1.25rem;
    line-height: 1.15;
    text-align: center;
  }
}
.visit-card__elipsis {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
  border-radius: 0.625rem;
  background: #26D8C0;
}
.visit-card__elips {
  position: absolute;
  background: rgba(23, 141, 125, 0.22);
  border-radius: 141.7808219178%;
  width: 38.8125rem;
  height: 27.375rem;
}
.visit-card__elips_num_one {
  position: absolute;
  left: -263px;
  top: -123px;
}
.visit-card__elips_num_two {
  left: -175px;
  top: -128px;
}
.visit-card__elips_num_three {
  left: -85px;
  top: -128px;
}

.startup {
  padding-top: 22.4375rem;
  margin-top: -16.1875rem;
  padding-bottom: 6.25rem;
  background-color: #BEF4ED;
}
@media (max-width: 63.9375em) {
  .startup {
    margin-top: -17rem;
  }
}
@media (max-width: 47.9375em) {
  .startup {
    margin-top: -18.375rem;
    padding-bottom: 4.75rem;
  }
}
.startup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 80em) {
  .startup__container {
    padding: 0;
  }
}
@media (max-width: 47.9375em) {
  .startup__container {
    padding: 0 0.625rem;
  }
}
.startup__title {
  text-align: center;
}
@media (max-width: 47.9375em) {
  .startup__title {
    padding: 0rem 0.9375rem;
  }
}
.startup__subtitle {
  text-align: center;
  max-width: 36.875rem;
  margin-bottom: 3.125rem;
}
@media (max-width: 47.9375em) {
  .startup__subtitle {
    padding: 0rem 0.9375rem;
  }
}
.startup__services {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}
.service {
  flex: 1 1 calc(50% - 10px);
  background: #FFFFFF;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
  border-radius: 0.3125rem;
  display: flex;
  gap: 1.6875rem;
  padding: 1.875rem 1.75rem 1.75rem 1.375rem;
}
@media (max-width: 63.9375em) {
  .service {
    flex-direction: column;
  }
}
@media (max-width: 47.9375em) {
  .service {
    flex: 1 1 auto;
  }
}
.service__title {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.1666666667;
  color: #444444;
  margin-bottom: 0.5833333333em;
}
@media (max-width: 79.9375em) {
  .service__title {
    font-size: 1.375rem;
    line-height: 1.2727272727;
  }
}
.service__subtitle {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  color: #666666;
}

.feedback__container {
  padding: 5.625rem 0 5.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
}
@media (max-width: 79.9375em) {
  .feedback__container {
    padding: 5.625rem 1.875rem 5.625rem;
  }
}
.feedback__title {
  margin-bottom: 1.375rem;
  text-align: center;
}
.feedback__subtitle {
  max-width: 36.875rem;
  text-align: center;
}
.feedback__audio-block {
  width: 100%;
  margin-top: 3.125rem;
  display: flex;
  gap: 0.9375rem;
}
.feedback__card {
  flex: 1 1 calc(50% - 7.5px);
  background: #FFFFFF;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
  border-radius: 0.625rem;
  padding: 2.9375rem 3.8125rem;
}
@supports (padding-top: clamp( 1.875rem , -2.3916666667rem  +  6.6666666667vw , 2.9375rem )) {
  .feedback__card {
    padding-top: clamp( 1.875rem , -2.3916666667rem  +  6.6666666667vw , 2.9375rem );
  }
}
@supports not (padding-top: clamp( 1.875rem , -2.3916666667rem  +  6.6666666667vw , 2.9375rem )) {
  .feedback__card {
    padding-top: calc(1.875rem + 1.0625 * (100vw - 64rem) / 15.9375);
  }
}
@supports (padding-right: clamp( 1.25rem , -9.0401960784rem  +  16.0784313725vw , 3.8125rem )) {
  .feedback__card {
    padding-right: clamp( 1.25rem , -9.0401960784rem  +  16.0784313725vw , 3.8125rem );
  }
}
@supports not (padding-right: clamp( 1.25rem , -9.0401960784rem  +  16.0784313725vw , 3.8125rem )) {
  .feedback__card {
    padding-right: calc(1.25rem + 2.5625 * (100vw - 64rem) / 15.9375);
  }
}
@supports (padding-bottom: clamp( 1.875rem , -3.8975490196rem  +  9.0196078431vw , 3.3125rem )) {
  .feedback__card {
    padding-bottom: clamp( 1.875rem , -3.8975490196rem  +  9.0196078431vw , 3.3125rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , -3.8975490196rem  +  9.0196078431vw , 3.3125rem )) {
  .feedback__card {
    padding-bottom: calc(1.875rem + 1.4375 * (100vw - 64rem) / 15.9375);
  }
}
@supports (padding-left: clamp( 1.25rem , -9.0401960784rem  +  16.0784313725vw , 3.8125rem )) {
  .feedback__card {
    padding-left: clamp( 1.25rem , -9.0401960784rem  +  16.0784313725vw , 3.8125rem );
  }
}
@supports not (padding-left: clamp( 1.25rem , -9.0401960784rem  +  16.0784313725vw , 3.8125rem )) {
  .feedback__card {
    padding-left: calc(1.25rem + 2.5625 * (100vw - 64rem) / 15.9375);
  }
}
@media (max-width: 63.9375em) {
  .feedback__card:last-child {
    display: none;
  }
}
@media (max-width: 63.9375em) {
  @supports (padding-top: clamp( 1.25rem , -0.1724751067rem  +  7.1123755334vw , 4.375rem )) {
    .feedback__card {
      padding-top: clamp( 1.25rem , -0.1724751067rem  +  7.1123755334vw , 4.375rem );
    }
  }
  @supports not (padding-top: clamp( 1.25rem , -0.1724751067rem  +  7.1123755334vw , 4.375rem )) {
    .feedback__card {
      padding-top: calc(1.25rem + 3.125 * (100vw - 20rem) / 43.9375);
    }
  }
  @supports (padding-right: clamp( 1.25rem , -1.8794452347rem  +  15.6472261735vw , 8.125rem )) {
    .feedback__card {
      padding-right: clamp( 1.25rem , -1.8794452347rem  +  15.6472261735vw , 8.125rem );
    }
  }
  @supports not (padding-right: clamp( 1.25rem , -1.8794452347rem  +  15.6472261735vw , 8.125rem )) {
    .feedback__card {
      padding-right: calc(1.25rem + 6.875 * (100vw - 20rem) / 43.9375);
    }
  }
  @supports (padding-bottom: clamp( 1.25rem , -0.1724751067rem  +  7.1123755334vw , 4.375rem )) {
    .feedback__card {
      padding-bottom: clamp( 1.25rem , -0.1724751067rem  +  7.1123755334vw , 4.375rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , -0.1724751067rem  +  7.1123755334vw , 4.375rem )) {
    .feedback__card {
      padding-bottom: calc(1.25rem + 3.125 * (100vw - 20rem) / 43.9375);
    }
  }
  @supports (padding-left: clamp( 1.25rem , -1.8794452347rem  +  15.6472261735vw , 8.125rem )) {
    .feedback__card {
      padding-left: clamp( 1.25rem , -1.8794452347rem  +  15.6472261735vw , 8.125rem );
    }
  }
  @supports not (padding-left: clamp( 1.25rem , -1.8794452347rem  +  15.6472261735vw , 8.125rem )) {
    .feedback__card {
      padding-left: calc(1.25rem + 6.875 * (100vw - 20rem) / 43.9375);
    }
  }
}

.player {
  margin-bottom: 1.875rem;
}
.player:last-child {
  margin-bottom: 0rem;
}
.player audio {
  position: absolute;
  visibility: hidden;
  max-width: 6.25rem;
}
.player__title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.1666666667;
  color: #666666;
  margin-bottom: 0.5625rem;
}
@media (max-width: 79.9375em) {
  .player__title {
    font-size: 1.375rem;
    line-height: 1.2727272727;
  }
}
@media (max-width: 47.9375em) {
  .player__title {
    font-size: 1.25rem;
    line-height: 1.3;
  }
}
.player__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.9375rem;
}
.player__buttons {
  cursor: pointer;
}
.player__button-play {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #FD625F;
  border-radius: 50%;
}
.player__button-play::after {
  content: "";
  position: absolute;
  transform: translate(100%, 90%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.25px 0 7.25px 14.5px;
  border-color: transparent transparent transparent #ffffff;
}
.player__button-pause {
  display: none;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #FD625F;
  border-radius: 50%;
}
.player__button-pause::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 16px;
  left: 22px;
  top: 13px;
  background: #FFFFFF;
}
.player__button-pause::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 16px;
  left: 14px;
  top: 13px;
  background: #FFFFFF;
}
.player__progress {
  flex: 1 1 auto;
  max-width: 20.375rem;
  height: 0.25rem;
  background-color: #E0E0E0;
}
@media (max-width: 63.9375em) {
  .player__progress {
    max-width: 100%;
  }
}
.player__progress-play {
  position: relative;
  width: 1px;
  height: 0.25rem;
  background-color: #26D8C0;
  transition: all 0.2s linear 0s;
}
.player__progress-circle {
  position: absolute;
  top: -5px;
  right: -12px;
  width: 0.875rem;
  height: 0.875rem;
  background: #26D8C0;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
}
.player__time {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5555555556;
  color: #666666;
}

.our-client {
  padding: 5.625rem 0 6.25rem;
  background-color: #BEF4ED;
}
.our-client__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 79.9375em) {
  .our-client__container {
    padding: 0 1.8125rem;
  }
}
.our-client__title {
  text-align: center;
}
.our-client__subtitle {
  text-align: center;
}
.card-block {
  margin-top: 2.9375rem;
}
.card-block__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -1.25rem;
  margin-bottom: -1.25rem;
}
.card-block__item {
  flex: 0 1 23.3%;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
  background-color: white;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8.4375rem;
  min-width: 13.75rem;
}

.contacts {
  padding: 5.6875rem 0 6.5625rem;
}
@media (max-width: 79.9375em) {
  .contacts {
    padding: 5.1875rem 0 6.5625rem;
  }
}
@media (max-width: 47.9375em) {
  .contacts {
    padding: 3.5rem 0 6.5625rem;
  }
}
.contacts__container {
  padding: 0 1.875rem;
  display: grid;
  grid-template-columns: minmax(419px, 471px) minmax(457px, 580px);
  justify-content: space-between;
  align-items: flex-end;
  gap: 4rem;
}
@media (min-width: 80em) {
  .contacts__container {
    padding: 0;
  }
}
@media (max-width: 63.9375em) {
  .contacts__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    justify-content: flex-start;
  }
}
@media (max-width: 47.9375em) {
  .contacts__container {
    padding: 0 0.6875rem;
  }
}
@media (max-width: 63.9375em) {
  .contacts__text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contacts__title {
  margin-bottom: 1.0625rem;
}
@media (max-width: 63.9375em) {
  .contacts__title {
    text-align: center;
  }
}
.contacts__subtitle {
  max-width: 29.4375rem;
}
@media (max-width: 79.9375em) {
  .contacts__subtitle {
    max-width: 23.9375rem;
  }
}
@media (max-width: 63.9375em) {
  .contacts__subtitle {
    text-align: center;
    margin-right: 0;
  }
}
.contacts__list {
  margin-top: 2.9375rem;
  padding-left: 6.25rem;
}
@media (max-width: 79.9375em) {
  .contacts__list {
    margin-top: 1.6875rem;
    padding-left: 4.8125rem;
  }
}
@media (max-width: 63.9375em) {
  .contacts__list {
    margin-top: 2.9375rem;
    margin-bottom: 2.9375rem;
  }
}
@media (max-width: 47.9375em) {
  .contacts__list {
    padding-left: 3.5625rem;
  }
}
.contacts__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.875rem;
}
.contacts__item:last-child {
  margin-bottom: 0;
}
.contacts__phone {
  font-family: "Roboto Condensed";
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 1;
  color: #444444;
  margin-bottom: 0.5em;
  position: relative;
  display: flex;
  align-items: center;
}
.contacts__phone::before {
  font-size: 1.125rem;
  position: absolute;
  left: -72px;
  color: rgba(248, 104, 58, 0.4);
  padding: 9px 8px 8px 9px;
  border: 1px solid rgba(248, 104, 58, 0.4);
  border-radius: 50%;
}
@media (max-width: 47.9375em) {
  .contacts__phone::before {
    left: -56px;
  }
}
.contacts__whatsup {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  text-decoration: underline;
  text-transform: uppercase;
  color: #444444;
}
@media (any-hover: hover) {
  .contacts__whatsup:hover {
    text-decoration: underline;
  }
}
.contacts__mail {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5555555556;
  color: #444444;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
}
.contacts__mail::before {
  position: absolute;
  font-size: 0.625rem;
  left: -72px;
  color: rgba(248, 104, 58, 0.4);
  padding: 8.8px 7.47px 8.53px 7.2px;
  border: 1px solid rgba(248, 104, 58, 0.4);
  border-radius: 50%;
}
@media (max-width: 47.9375em) {
  .contacts__mail::before {
    left: -51px;
  }
}
.contacts__adress {
  font-size: 1.125rem;
  line-height: 1.5555555556;
  margin-bottom: 0.25rem;
}
.contacts__adress:last-child {
  margin-bottom: 0;
}
.contacts__adress_type_city {
  font-weight: bold;
  color: #444444;
  display: flex;
  align-items: center;
  position: relative;
}
.contacts__adress_type_city::before {
  position: absolute;
  font-size: 0.9375rem;
  left: -72px;
  color: rgba(248, 104, 58, 0.4);
  padding: 7px 9px 6px 9px;
  border: 1px solid rgba(248, 104, 58, 0.4);
  border-radius: 50%;
}
@media (max-width: 47.9375em) {
  .contacts__adress_type_city::before {
    left: -51px;
  }
}
.contacts__adress_type_street {
  font-weight: normal;
  color: #666666;
}
.contacts__block-form {
  position: relative;
}
.contacts__illustration-phone {
  position: absolute;
  top: -45px;
  left: -156px;
  z-index: -1;
}
@media (max-width: 79.9375em) {
  .contacts__illustration-phone {
    top: 73px;
    left: -149px;
  }
}
@media (max-width: 63.9375em) {
  .contacts__illustration-phone {
    display: none;
  }
}
.contacts__illustration-cactus {
  position: absolute;
  bottom: 26px;
  right: -138px;
  z-index: -1;
}
@media (max-width: 79.9375em) {
  .contacts__illustration-cactus {
    display: none;
  }
}
.contacts__popup-content {
  position: relative;
  z-index: 0;
  background-color: white;
  border: 1px solid #ECECEC;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 2.625rem 3.125rem 2.4375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 79.9375em) {
  .contacts__popup-content {
    padding: 2.625rem 1.25rem 3.875rem;
  }
}
.contacts__popup-title {
  margin-bottom: 0.875rem;
}
.contacts__popup-suvtitle {
  margin-bottom: 1.5625rem;
}
.contacts__form {
  width: 100%;
}
.contacts__input {
  width: 100%;
}
.contacts__checkbox {
  width: 100%;
}
.contacts__checkbox span {
  max-width: 27.5625rem;
}
.contacts__button {
  max-width: none;
  position: relative;
  margin-top: 0.625rem;
}
@media (max-width: 79.9375em) {
  .contacts__button {
    margin-top: 1.25rem;
  }
}
